<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{% link style.css %}" type="text/css">
    <meta name="viewport" content="width=device-width, user-scalable=false">
  </head>
  <body>
    <h2>
      {% if page.url != "/" %}
        <a href="{% link index.md %}">Home</a>
      {% else %}
        <span>Home</span>
      {% endif %}

      {% if page.url != "/faq.html" %}
        <a href="{% link faq.md %}">FAQ</a>
      {% else %}
        <span>FAQ</span>
      {% endif %}
    </h2>
    <p><a id="dark-mode-toggle" onclick="switchTheme()">Switch to Light Mode</a></p>
    <hr>
    {{ content }}
    
    <script>
      function updateTheme() {
        const body = document.body;
        const toggleLink = document.getElementById('dark-mode-toggle');

        if (localStorage.isLightMode !== undefined && JSON.parse(localStorage.isLightMode)) {
          body.classList.add('light-mode');
          toggleLink.textContent = "Switch to Dark Mode";
        } else {
          body.classList.remove('light-mode');
          toggleLink.textContent = "Switch to Light Mode";
        }
      }

      function switchTheme() {
        localStorage.isLightMode = localStorage.isLightMode === undefined || !JSON.parse(localStorage.isLightMode);
        updateTheme();
      }

      updateTheme();
    </script>
  </body>
</html>